#page-top{
    background-color:rgba(252, 185, 61, 0.7);
    border-radius: 0rem 0rem 3rem 3rem;
}
#page-top1{
    background-color:rgba(187, 247, 247, 0.46);
    border-radius: 3rem 3rem 3rem 3rem;
}
